* {
  /*
   * RESET spacing, colours and text decorations.
   */
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding: 0 0;
  border: 0 0;
  margin: 0 0;
}
