* {
  /*
   * RESET spacing, colours and text decorations.
   */
  text-decoration: none;
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  color: #666;
  background-color: black;
  padding: 0 0;
  border: 0 0;
  margin: 0 0;
}

/*
 * Layout
 */
html {
  text-align: center;
}
/*
 * Hard-code the body width for now.
 * FIXME: Should be responsive in future.
 */
body {
  width: 74ch; /* 74 chars at standard text size = long enough for public key signature */
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

section {
  text-align: left;
}

strong, a {
  font-weight: bold;
}

/*
 * Put [links] inside a charming pair of square braces
 */
a:before {
  content: "[";
}
a:after {
  content: "]";
}
/*
 * Mailto <links> go inside angle-brackets instead
 */
a[href^="mailto"]:before {
  content: "<";
}
a[href^="mailto"]:after {
  content: ">";
}

/*
 * Link change states
 */
a {
  /* default colour is a bit brighter than default, to stand out */
  color: #888;
}
a:hover {
  color: black;
  background-color: #888;
  font-weight: bold;
}
a:active {
  font-weight: normal;
}
a:active:before {
  content: ">";
}
a:active:after {
  content: "<";
}

/*
 * Set border color for <hr>
 */
hr {
  border-color: #666;
}

/*
 * rounded corners for a circular-cropped image
 */
img.rounded {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
