* {
  /*
   * RESET spacing, colours and text decorations.
   */
  text-decoration: none;
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  color: black;
  background-color: white;
  padding: 0 0;
  border: 0 0;
  margin: 0 0;
}

/*
 * Put [links] inside a charming pair of square braces
 */
a:before {
  content: "[";
}
a:after {
  content: "]";
}

/*
 * Link change states
 */
a:hover {
  color: white;
  background-color: black;
}
a:active {
  font-weight: normal;
}
a:active:before {
  content: ">";
}
a:active:after {
  content: "<";
}
