@media screen and (min-width: 601px) {

  * {
    color: #28005a;
    background-color: black;
    font-family: "VT323", monospace;
  }

  ::selection {
    color: #ffed30;
    background: #857a00;
  }

  h1, h2, h3, h4, strong {
    color: #5243ff;
    text-shadow-color: #080012;
  }

  h1, h2, h3, h4, strong:not(.preserve-case) {
    text-transform: lowercase;
  }

  /*
   * Set border color for <hr>
   */
  hr {
    /*height: 0.25ch;*/
    color: #28005a;
    text-shadow-color: #28005a;
    border: 0;
    height: 1ch;
  }

  hr:after {
    content: "--------------------------------------------------------------------------";
  }

  /*
   * 'spaced' HRs get half a char's vertical margin on top and bottom
   */
  hr.spaced {
    margin: 0.5ch 0;
  }

  /*
   * Put [links] inside a charming pair of square braces
   */
  a:before {
    content: "[";
  }
  a:after {
    content: "]";
  }
  /*
   * Mailto <links> go inside angle-brackets instead
   */
  a[href^="mailto"]:before {
    content: "<";
  }
  a[href^="mailto"]:after {
    content: ">";
  }

  /*
   * Link change states
   */
  a {
    /* default colour is a bit brighter than default, to stand out */
    color: #9541ff;
    text-shadow-color: #080012;
    /* animation setup */
    -webkit-transition: all 5s linear;
    -moz-transition: all 5s linear;
    -o-transition: all 5s linear;
    -ms-transition: all 5s linear;
    transition: all 5s linear;
  }

  a:hover {
    color: black;
    background-color: #ff30f6;
    font-weight: bold;
    /* animation setup */
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    /* blur animation effect */
    box-shadow: 0 0 0.1em 0.05em inset;
    -webkit-filter: blur(0.05em);
  }
  a:active {
    font-weight: normal;
  }
  a:active:before {
    content: ">";
  }
  a:active:after {
    content: "<";
  }

  /*
   * rounded corners for a circular-cropped image
   */
  img.rounded {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }

  .profile-picture {
    width: 10ch;
    -webkit-animation:spin 4s ease-in-out infinite;
    -moz-animation:spin 4s ease-in-out infinite;
    animation:spin 4s ease-in-out infinite;
  }

  @-moz-keyframes spin { 75%, 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 75%, 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 75%, 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .end-cursor {
    color: #ffed30;
    background-color: #857a00;
    -webkit-animation:blink 1s ease-in-out infinite;
    -moz-animation:blink 1s ease-in-out infinite;
    animation:blink 1s ease-in-out infinite;
  }

  @-webkit-keyframes blink {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }
  @-moz-keyframes blink {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }
  @-o-keyframes blink {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }
  @keyframes blink {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }

}
