* {
  color: #333;
  background-color: black;
  font-family: "VT323", monospace;
}

::selection {
  color: white;
  background: #666;
}

h1, h2, h3, h4, strong {
  color: #666;
  text-shadow-color: #666;
}

h1:after, h2:after, h3:after {
  content: "_";
}

h1, h2, h3, h4, strong:not(.preserve-case) {
  text-transform: lowercase;
}

/*
 * Set border color for <hr>
 */
hr {
  /*height: 0.25ch;*/
  color: #494949;
  text-shadow-color: #494949;
  border: 0;
  height: 1ch;
}

hr:after {
  content: "--------------------------------------------------------------------------";
}

/*
 * 'spaced' HRs get half a char's vertical margin on top and bottom
 */
hr.spaced {
  margin: 0.5ch 0;
}

/*
 * Put [links] inside a charming pair of square braces
 */
a:before {
  content: "[";
}
a:after {
  content: "]";
}
/*
 * Mailto <links> go inside angle-brackets instead
 */
a[href^="mailto"]:before {
  content: "<";
}
a[href^="mailto"]:after {
  content: ">";
}

/*
 * Link change states
 */
a {
  /* default colour is a bit brighter than default, to stand out */
  color: #999;
  text-shadow-color: #999;
  /* animation setup */
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a:hover {
  color: black;
  font-weight: bold;
  background-color: #999;
  /* blur animation effect */
  box-shadow: 0 0 0.1em 0.05em inset;
  -webkit-filter: blur(0.1em);
}
a:active {
  font-weight: normal;
}
a:active:before {
  content: ">";
}
a:active:after {
  content: "<";
}

/*
 * rounded corners for a circular-cropped image
 */
img.rounded {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.profile-picture {
  width: 10ch;
}
